# Node
node_modules/
dist/
coverage/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# OS
.DS_Store

# IDE
.vscode/
.idea/

# CDK/infra
cdk.out/

